<main>
  <h1>タイトル: <%= @comic['title'] %> </h1>
  <h2>あらすじ: <%= @comic['bio'] %> </h2>
  <h2>作者: <%= @user['nickname'] %>@<%= @user['account'] %> </h2>

  <div>画像アップロード </div>
  <form action="/pages/<%= @comic['id'] %>" method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="text", name="page_number", placeholder="ページ数">
    <input type="submit" value="送信する">
  </form>

  <h3 style="text-align: center">ページ一覧</h3>

  <div class="row">
    <% @pages.each do |page| %>
    <div class="col-sm-6 col-md-3">
      <img src='<%= page["imagefile"] %>' width="300" height="200" class="img-thumbnail">
      <% if current_user?(@user) %>
      <div class="caption">
        page: <%= page["page_number"] %>
        <p>
          <div style="display:inline-flex">
            <form method="POST" action="/page/<%= @comic['id'] %>/<%= page['id'] %>">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="btn btn-outline-danger btn-xs">削除</button>
            </form>
          </div>
        </p>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</main>

