<!DOCTYPE html>
<html lang="ja">
<head>
  <mata charset="utf-8">
  <title>簡易BBS by sinatra</title>

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
  <h1>タイトル: <%= @comic['title'] %> </h1>
  <h2>あらすじ: <%= @comic['bio'] %> </h2>
  <h2>作者: <%= @user['nickname'] %>@<%= @user['account'] %> </h2>

  <div>画像アップロード </div>
  <form action="/pages/<%= @comic['id'] %>" method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="text", name="page_number", placeholder="ページ数">
    <input type="submit" value="送信する">
  </form>

  <h3>ページ一覧</h3>
  <% @pages.each do |page| %>
    <img src='<%= page["imagefile"] %>' width="300" height="200">
    <div style="display:inline-flex">
      <form method="POST" action="/page/<%= @comic['id'] %>/<%= page['id'] %>">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="削除">
      </form>
    </div>
    page: <%= page["page_number"] %>
  <% end %>
</body>
