<h2 class="text-center mb-3 mt-3"><%= @user['nickname'] %>@<%= @user['account'] %></h2>
<div class="box10">
  <h3 class="text-center mb-5">プロフィール</h3>
  <p><%= @user['profile'] %></p>
</div>

<% unless @comics.nil? %>
<div class="card-deck">
  <% @comics.each do |comic| %>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title" style="text-align: center"><%= comic['title'] %></h4>
    </div>
    <% unless find_title_page(comic['id']).nil? %>
    <div style="text-align: center">
      <a href="/comics/<%= @user['account'] %>/<%= comic['id'] %>">
        <img src='<%= find_title_page(comic['id']) %>' width="300" height="200" alt="Card-image">
      </a>
    <% end %>
    </div>
    <div class="card-body">
      <p class="card-text">
        ストーリー: <br> <%= comic['bio'] %> <br>
        作成日: <%= comic['created_at'] %> <br>
        更新日: <%= comic['updated_at'] %> <br>
      </p>
      <% if current_user?(@user) %>
      <div style="display:inline-flex">
        <form method="POST" action="/comics/<%= comic['id'] %>">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-outline-danger">削除</button>
        </form>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
<% end %>

<br>
<br>